@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
      :root{
        --base-clr: #11121a;
        --line-clr: #42434a;
        --hover-clr: #D1323936;
        --text-clr: #e6e6ef;
        --accent-clr: #D13239;
        --secondary-text-clr: #b0b3c1;
        --sidebar: #ffffff;
      }
      *{
        margin: 0;
        padding: 0;
      }
      html{
        font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.5rem;
      }
      body{
        min-height: 100vh;
        min-height: 100dvh;
        background-color: var(--sidebar);
        color: var(--text-clr);
        display: grid;
        grid-template-columns: auto 1fr;
      }
      #sidebar{
        box-sizing: border-box;
        height: 100vh;
        width: 250px;
        padding: 5px 1em;
        background-color: var(--sidebar);
        box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.276);
        position: sticky;
        top: 0;
        align-self: start;
        transition: 300ms ease-in-out;
        overflow: hidden;
        text-wrap: nowrap;
      }
      #sidebar.close{
        padding: 5px;
        width: 59px;
      }
      #sidebar.close a, #sidebar.close .dropdown-btn {
        white-space: nowrap;
      }

      ul{
        list-style: none;
      }
      #sidebar > ul > li:first-child{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 16px;
        .logo{
          font-weight: 600;
        }
      }
      #sidebar ul li.active a{
        color: var(--base-clr);

        svg{
          fill: var(--accent-clr);
        }
      }

      #sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
        border-radius: .5em;
        padding: .85em;
        text-decoration: none;
        color: var(--base-clr);
        display: flex;
        align-items: center;
        gap: 1em;
        white-space: normal; 
        word-wrap: break-word;
      }
      .dropdown-btn{
        width: 100%;
        text-align: left;
        background: none;
        border: none;
        font: inherit;
        cursor: pointer;
      }
      #sidebar svg{
        flex-shrink: 0;
        fill: var(--accent-clr);
      }
      #sidebar a span, #sidebar .dropdown-btn span{
        flex-grow: 1;
      }
      #sidebar a:hover, #sidebar .dropdown-btn:hover{
        background-color: var(--hover-clr);
      }
      #sidebar .sub-menu{
        display: grid;
        grid-template-rows: 0fr;
        transition: 300ms ease-in-out;

        > div{
          overflow: hidden;
        }
      }
      #sidebar .sub-menu.show{
        grid-template-rows: 1fr;
      }
      .dropdown-btn svg{
        transition: 200ms ease;
      }
      .rotate svg:last-child{
        rotate: 180deg;
      }
      #sidebar .sub-menu a{
        padding-left: 2em;
      }
      #toggle-btn{
        margin-left: auto;
        padding: 1em;
        border: none;
        border-radius: .5em;
        background: none;
        cursor: pointer;

        svg{
          transition: rotate 150ms ease;
        }
      }
      #toggle-btn:hover{
        background-color: var(--hover-clr);
      }

      main {
        background-color: #F6F7FB;
      }

      main p{
        color: var(--secondary-text-clr);
        margin-top: 5px;
        margin-bottom: 15px;
      }
      .container{
        border: 1px solid var(--line-clr);
        border-radius: 1em;
        margin: 20px;
        padding: min(3em, 15%);

        h2, p { margin-top: 1em }
      }

      @media(max-width: 800px){
        body{
          grid-template-columns: 1fr;
        }
        
        .container{
          border: none;
          padding: 0;
        }
        #sidebar{
          height: 60px;
          width: 100%;
          border-right: none;
          border-top: 1px solid var(--line-clr);
          padding: 0;
          position: fixed;
          top: unset;
          bottom: 0;

          > ul{
            padding: 0;
            display: grid;
            grid-auto-columns: 60px;
            grid-auto-flow: column;
            align-items: center;
            overflow-x: scroll;
          }
          ul li{
            height: 100%;
          }
          ul a, ul .dropdown-btn{
            width: 60px;
            height: 60px;
            padding: 0;
            border-radius: 0;
            justify-content: center;
          }

          ul li span, ul li:first-child, .dropdown-btn svg:last-child{
            display: none;
          }

          ul li .sub-menu.show{
            position: fixed;
            bottom: 60px;
            left: 0;
            box-sizing: border-box;
            height: 60px;
            width: 100%;
            background-color: var(--hover-clr);
            border-top: 1px solid var(--line-clr);
            display: flex;
            justify-content: center;

            > div{
              overflow-x: auto;
            }
            li{
              display: inline-flex;
            }
            a{
              box-sizing: border-box;
              padding: 1em;
              width: auto;
              justify-content: center;
            }
          }
        }
      }

      .navbar-white {
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }

      .navbar-white .menu-icon {
        display: flex;
        align-items: center;
      }

      .navbar-white .menu-icon div {
        width: 20px;
        height: 2px;
        background-color: #888;
        margin: 3px 0;
      }

      .navbar-white .profile {
        display: flex;
        align-items: center;
        position: relative;
        padding: 5px 11px;
        border-radius: 5px;
        cursor: pointer;
      }


      .navbar-white .separator {
        width: 2px;
        height: 40px;
        background-color: #ddd;
        margin: 0 10px;
        border-radius: 1px 1px 1px 1px;
      }

      .navbar-white .profile-content {
        display: flex;
        align-items: center;
        padding: 3px 10px 3px 10px;
        border-radius: 5px;
      }

      .navbar-white .profile-content:hover {
        background-color: #11121a15;
      }
      

      .navbar-white .notification {
        position: relative;
      }

      .navbar-white .notification img {
        width: 300px;
        height: 300px;
      }

      .navbar-white .notification .badge {
        position: absolute;
        top: 0;
        right: 0;
        background-color: red;
        color: white;
        font-size: 10px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .navbar-white .profile img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .navbar-white .profile .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .navbar-white .profile .info span {
        color: #333;
        font-size: 14px;
        font-weight: bold;
      }

      .navbar-white .profile .info .cargo {
        color: #aaa;
        font-size: 12px;
        font-weight: normal;
      }

      .header {
        background-color: #b71c1c;
        color: white;
        padding: 15px;
        font-size: 14px;
        font-weight: bold;
      }

      .grid-container {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        font-weight: bold;
        display: block;
        padding: 50px;
      }

      .grid-container .grid-item {
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
        padding: 2rem;
        display:flex;
        gap:30px;
      }

      .grid-container .grid-sidebar {
        background-color: red;
        border-radius: 15px;
      }

      .profile-content {
        opacity:0.5;
        border:none;
        background-color: white;
      }

      .profile-content {
        opacity: 0.9;
      }

      .grid-container .grid-sidebar {
        background-color: white;
      }

      .grid-container .grid-item a {
        text-decoration: none;
        color:rgb(209, 50, 58);
      }

      .grid-container .grid-item li {
        background-color: #dda15e;
        margin-bottom: 20px;
        border-radius: 20px;
        text-align:center;
        padding:7px;
        background-color:rgba(209, 50, 58, 0.28);
        cursor:pointer;
      }